
.container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}

    .container::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

.scrollable-place {
    height: 100vh;
    overflow: auto;
    scroll-behavior: smooth;
}

.scrollable-place::-webkit-scrollbar {
    display: none;
}

.visabilityHidden {
    visibility: hidden;
 
}
.visabilityVisible {
    visibility: visible !important;
}

.visabilityHidden2 {
    visibility: hidden;
    display: None;
}

.visabilityVisible2 {
    visibility: visible !important;
    display: inline;
}
.scrollable-place {
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    scrollbar-width: none; /* Firefox */
}

.stop-scrolling {
    height: 100vh;
    overflow: hidden;
}

h1 {
    color: white;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 300
}

/* Right side messages styles */

.msgrightshort {
    visibility: hidden;
    transform: translateX(40vw) scale(0.05);
    transition: 0.6s all ease;
    transition-delay: 0.55s;
    width: 40vw;
}

.msgrightshort.active {
        visibility: visible;
        transform: translateX(25vw) scale(1);
}

.msgrightlong {
    visibility: hidden;
    transform: translateX(40vw) scale(0.1);
    transition: 0.6s all ease;
    transition-delay: 0.55s;
    width: 80vw;
}
.msgrightlong.active {
        visibility: visible;
        transform: translateX(4.5vw) scale(1);
}

.msgGender {
    visibility: hidden;
    transform: translateX(20vw) scale(0.1);
    transition: 0.6s all ease;
    transition-delay: 0.25s;
}
    .msgGender.active {
        transform: translateX(0vw) scale(1);
        bottom: 5%;
        visibility: visible;
        height: 60%;
        width: 100%;
        position: absolute;
        align-items: flex-end;
        flex-direction: row;
        justify-content: center;
    }

.genpic{
    max-height: 70%;
    width: auto;
}

.genchoice {
    width: 100vw;
 }

/* Left side messages styles */
.revealleftM {
    visibility: hidden;
    transform: translateX(-35vw) scale(0.05);
    transition: 0.7s all ease;
    transition-delay: 0.75s;
    width: 50vw;
}
.revealleftM.active {
        visibility: visible;
        transform: translateX(-19vw) scale(1);
}
.revealleftS {
    visibility: hidden;
    transform: translateX(-30vw) scale(0.1);
    transition: 0.6s all ease;
    transition-delay: 0.75s;
    width: 50vw;
}
.revealleftS.active {
        visibility: visible;
        transform: translateX(-24vw) scale(1);
}
.revealleftL {
    visibility: hidden;
    transform: translateX(-30vw) scale(0.1);
    transition: 0.6s all ease;
    transition-delay: 0.75s;
    width: 75vw;
}
.revealleftL.active {
        visibility: visible;
        transform: translateX(-7vw) scale(1);
    }

    /* Extra small devices (phones, 600px and down) */
    @media only screen and (max-width: 600px) {

        .BGimg {
            background-image: url('../images/BGSmall.png');
            background-size: cover;
        }

    }
    /* Small devices (portrait tablets and large phones, 600px and up) */
    @media only screen and (min-width: 600px) {
        .BGimg {
            background-image: url('../images/BGSmall.png');
            background-size: cover;
        }
    }
    /* Medium devices (landscape tablets, 768px and up) */
    @media only screen and (min-width: 768px) {
        .BGimg {
            background-image: url('../images/BG.png');
            background-size: cover;
        }
    }
    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (min-width: 992px) {
        .BGimg {
            background-image: url('../images/BG.png');
            background-size: cover;
        }
    }
    /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .BGimg {
        background-image: url('../images/BG.png');
        background-size: cover;
    }

}